{
  "order": 0,
  "template": "hpc.node.*",
  "settings": {
    "index": {
      "number_of_shards": "2",
      "number_of_replicas": "1"
    }
  },
  "mappings": {
    "stats": {
      "properties": {
        "create_time": {
          "format": "yyyy-MM-dd||epoch_millis",
          "type": "date"
        },
        "node_name": {
          "type": "string",
          "index": "not_analyzed"
        },
        "update_time": {
          "format": "yyyyMMdd||epoch_millis",
          "type": "date"
        },
        "mem_usage": {
          "type": "long"
        },
        "disk_usage": {
          "type": "double"
        },
        "cpu_usage": {
          "type": "double"
        }
      }
    }
  }
}